ul.articles_list {
  list-style-type:  none;
  margin:           0;
  padding:          0;
}

li.articles_list-item {

  border-bottom: 1px dashed $color-borders;
  padding: 2.618% 1em;
  margin-bottom: 2.75em;

  a {
    color: #666;
    text-decoration: none;
  }
}

