.footer-container {
  background-color: $color-footer-background;
}

.footer {
  padding: em(28);

  @include media($wide) {
    padding: em(32) em(28);
  }

  font-family: $fontstack-sans;
  text-align: center;

  @include media($teeny) {
    text-align: left;
  }

  p {
    font-size: em(14px);
    color: $color-secondary-text;

    margin: 0 0 0 1em;
    @include media($weeny) {
      margin: 0 0.5em;
    }
  }
}

.footer--clanek {
  //border-top: 1px dashed $color-primary-links;
}

.jumper {
  margin-bottom: em(28);
  padding-top: em(24);

  @include media($wide) {
    padding-top: em(28);
  }

  border-top: 1px dashed $color-primary-links;
  text-align: center;
}

a.nahoru {
  padding: 8px 0 12px 45px;

  font-size: em(24);
  line-height: em(24);
  font-weight: 300;

  text-transform: lowercase;
  text-decoration: none;

  background: url('/assets/img/nahoru.png') 0% 50% no-repeat;
}

div.shareholics--footer {
  padding: 1em 0;

  @include media($teeny) {
    padding: 0;
  }
}

div.publicita--footer {
  margin-top: em(28);
  @include media($meeny) {
    margin-top: 0;
  }

  text-align: center;
}
