
div.container {
  @include outer-container;
  position: relative;
}

header {
  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(2);
  }
  @include media($tablet) {
    @include span-columns(2);
  }
}

main, main.no-sidebar {
  background-color: $color-secondary-background;
  padding: 2.618%;
}

main {
  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(3);
  }
  @include media($tablet) {
    @include span-columns(4);
  }
}

main.no-sidebar {
  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(4);
  }
  @include media($tablet) {
    @include span-columns(6);
  }
}

aside {
  background-color: $color-secondary-background;
  padding: 2.618%;

  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(1);
  }

  @include media($tablet) {
    @include span-columns(2);

    height: 100%;
    position: absolute;
    right: 0px;
  }
}
