
div.container {
  @include outer-container;
  position: relative;
}

header, footer, main.no-sidebar {
  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(2);
  }
  @include media($wide) {
    @include span-columns(12);
    @include shift(6);
  }
}

nav {
  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(6);
  }
  @include media($wide) {
    @include span-columns(4);
    @include shift(1);
  }
}

main {
  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(3);
  }
  @include media($wide) {
    @include span-columns(13);
  }
}

aside.shareholics {
  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(1);
  }

  @include media($wide) {
    @include span-columns(1 of 13);
  }
}

main article {
  padding: 2.618%;

  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(1);
  }

  @include media($wide) {
    @include span-columns(12 of 13);
  }
}

aside.sidebar {
  padding: 2.618%;

  @include span-columns(4);

  @include media($mobilew) {
    @include span-columns(1);
  }

  @include media($wide) {
    @include span-columns(6);
  }
}

.persona {
  @include outer-container;
}

