div.container, div.footer-container {
  @include outer-container;
  position: relative;

  /*  Prevents Flickering  */
  backface-visibility: hidden;
}

header, main.no-sidebar, .jumper {
  @include span-columns(4);

  @include media($meeny) {
    @include span-columns(8 of 12);
    @include shift(2);
  }

  @include media($wide) {
    @include span-columns(12);
    @include shift(6);
  }
}

footer {
  @include span-columns(4);

  @include media($meeny) {
    @include span-columns(12);
  }

  @include media($wide) {
    @include span-columns(18);
    @include shift(3);
  }

  & .shareholics--footer {
    @include span-columns(4 of 4);

    @include media($teeny) {
      @include span-columns(1 of 12);
    }

    @include media($weeny) {
      @include span-columns(2 of 12);
    }

    @include media($meeny) {
      @include span-columns(1 of 12);
    }
  }

  & .copyright--footer {
    @include span-columns(4 of 4);

    @include media($teeny) {
      @include span-columns(11 of 12);
    }

    @include media($weeny) {
      @include span-columns(10 of 12);
    }

    @include media($meeny) {
      @include span-columns(6 of 12);
    }
  }

  & .publicita--footer {
    @include span-columns(4 of 4);

    @include media($teeny) {
      @include span-columns(12 of 12);
    }

    @include media($meeny) {
      @include span-columns(5 of 12);
    }
  }
}


nav {
  @include span-columns(4);

  @include media($weeny) {
    @include span-columns(6);
    @include shift(3);
  }

  @include media($wide) {
    @include span-columns(4);
    @include shift(1);
  }
}

main {
  @include span-columns(4);

  @include media($meeny) {
    @include span-columns(8);
  }

  @include media($wide) {
    @include span-columns(13);
  }
}

aside.shareholics {
  @include span-columns(4);

  @include media($weeny) {
    @include span-columns(1 of 12);
  }

  @include media($meeny) {
    @include span-columns(1 of 8);
  }

  @include media($wide) {
    @include span-columns(1 of 13);
  }
}

main article {
  padding: 2.618% 1em;

  @include span-columns(4);

  @include media($weeny) {
    @include span-columns(10 of 12);
  }

  @include media($meeny) {
    @include span-columns(7 of 8);
  }

  @include media($wide) {
    @include span-columns(11 of 13);
  }
}

main.no-sidebar {
  @include media($weeny) {
    @include span-columns(10 of 12);
    @include shift(1);
  }

  @include media($meeny) {
    @include span-columns(8 of 12);
    @include shift(2);
  }

  @include media($wide) {
    @include span-columns(12);
    @include shift(6);
  }
}

aside.sidebar {
  //padding: 2.618%;

  @include span-columns(4);

  @include media($meeny) {
    @include span-columns(4);
  }

  @include media($wide) {
    @include span-columns(6);
  }
}

.persona {
  @include outer-container;
}
