nav {
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: modular-scale(1em,  -1, 1.618) 1.618em;
  }

  a {
    color: $color-primary-nav;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed $color-secondary-background;
  }

  a:hover {
    border-bottom: 1px solid $color-primary-nav;
  }
}

.logo {
    padding: 1.618em;
}

.svglogo {
  fill: $color-primary-nav;
}

.header-aboutbox {
  color: $color-primary-nav;

  padding: 0 1.618em;
}
