aside.shareholics {
  text-align: center;

  @include media($wide) {
    margin-top: 42.5%;
    padding-right: 0.3em;
  }
}

a.icon {
  width: 32px;
  height: 32px;
  margin-bottom: 24px;

  display: inline-block;

  @include media($wide) {
    display: block;
    float: right;
    clear: both;
  }

  text-indent: -9999px;
  font-size: 1px;
}

a.icon--twitter {
  background: url('/assets/img/ico-twitter.png') 0 0 no-repeat;
  background-size: 100%;
}

a.icon--twitter:hover {
  background: url('/assets/img/ico-twitter-hover.png') 0 0 no-repeat;
  background-size: 100%;
}

a.icon--facebook {
  background: url('/assets/img/ico-facebook.png') 0 0 no-repeat;
  background-size: 100%;
}

a.icon--facebook:hover {
  background: url('/assets/img/ico-facebook-hover.png') 0 0 no-repeat;
  background-size: 100%;
}

a.icon--google {
  background: url('/assets/img/ico-google.png') 0 0 no-repeat;
  background-size: 100%;
}

a.icon--google:hover {
  background: url('/assets/img/ico-google-hover.png') 0 0 no-repeat;
  background-size: 100%;
}
