<footer class="footer" role="contentinfo">
  <div class="shareholics--footer">
    <a href="https://twitter.com/20predstav"><img src="/assets/img/ico-twitter-footer.png" alt="20predstav.eu na twitteru"></a>
    <a href="https://www.facebook.com/20predstav"><img src="/assets/img/ico-facebook-footer.png" alt="20predstav.eu na facebooku"></a>
  </div>
  <div class="copyright--footer">
    <p>Web 20predstav.eu provozuje <a href="http://www.dobra-rada.cz">Regionální rada regionu soudržnosti Moravskoslezsko</a> v&nbsp;rámci projektu <a href="http://www.rr-moravskoslezsko.cz/eu2014/kontakt-chytrejsi-kraj">Chytřejší kraj.</a> <br>(c)&nbsp;Regionální Rada Moravskoslezko 2014, Všechna práva vyhrazena.</p>
  </div>
  <div class="publicita--footer">
    <img src="/assets/img/publicita.png" class="publicita" alt="Tento projekt je spolufinancován ERDF. Evropská Unie, Investice do vaší budoucnosti.">
  </div>
</footer>
