<nav class="nav-main menuslide" role="navigation">
  <ul>
    <li><h3 id="navToggle">Další představy</h3></li>
		<li class="nav-item"><a href="/predstavy/vondrak/">Ivo Vondrák</a></li>
		<li class="nav-item"><a href="/predstavy/lukasik/">Petr Lukasík</a></li>
    <li class="nav-item"><a href="/predstavy/kotik/">Petr Kotík</a></li>
    <li class="nav-item"><a href="/predstavy/cienciala/">Jiří Cienciala</a></li>
    <li class="nav-item"><a href="/predstavy/simcik/">Antonín Šimčík</a></li>
    <li class="nav-item"><a href="/predstavy/svetlik/">Jan Světlík</a></li>
    <li class="nav-item"><a href="/predstavy/sventek/">David Sventek</a></li>
    <li class="nav-item"><a href="/predstavy/simicek/">Petr Šimíček</a></li>
    <li class="nav-item"><a href="/predstavy/klimek/">Petr Klimek</a></li>
    <li class="nav-item"><a href="/predstavy/birklen/">Petr Birklen</a></li>
    <li class="nav-item"><a href="/predstavy/weimann/">Jakub Weimann</a></li>
    <li class="nav-item"><a href="/predstavy/lobkowicz/">František Lobkowicz</a></li>
  </ul>
</nav>
