@import "vendor/neat/neat-helpers";

// Grid settings
$column: 60px;
$gutter: 0px;
$grid-columns: 4;
$max-width: 100%;
$border-box-sizing: true;

// Define your breakpoints
$teeny: new-breakpoint(min-width 430px 4);
$weeny: new-breakpoint(min-width 640px 12);
$meeny: new-breakpoint(min-width 960px 12);
$wide: new-breakpoint(min-width 1150px 24);
