//$color-primary-background: #F0C800;
//$color-primary-background: #A4A875;
$color-primary-background: #67A6A6; // http://www.colourlovers.com/color/67A6A6/Grooms_Teal
$color-secondary-background: #fefefe;

$color-primary-text: #414141;
$color-primary-headers: #2f2f2f;

$color-primary-quote: #CC0000;  // http://www.colourlovers.com/color/CC0000/Plavix

$color-primary-nav: #F2F2F2;  // http://www.colourlovers.com/color/F2F2F2/Broken_White

