//$color-primary-background: #F0C800;
$color-primary-background: #A4A875;
$color-secondary-background: #fefefe;

$color-primary-text: #414141;
$color-primary-headers: #2f2f2f;

$color-primary-nav: #222222;

