//$color-primary-background: #F0C800;
//$color-primary-background: #A4A875;
$color-primary-background: #ffffff; // http://www.colourlovers.com/color/67A6A6/Grooms_Teal 67A6A6
$color-secondary-background: #f9f9f9;

$color-footer-background: #2f2f2f;

$color-primary-text: #414141;
$color-primary-headers: #3f3f3f;

$color-secondary-text: #666666;
$color-secondary-headers: #3f3f3f;

$color-primary-quote: #88aa00;  // http://www.colourlovers.com/color/F46943/f46943

$color-primary-nav: #808080;  // http://www.colourlovers.com/color/F2F2F2/Broken_White
$color-primary-links: #88aa00;
$color-secondary-links: #668800;
$color-tertiary-links: #92b400;

$logo-primary-color: #b3b3b3;
$logo-secondary-color: #b3b3b3;

$color-borders: #999999;

